html,body{
    width:100%
}
body {
    background-image:url(/static/city2.png);
    background-color:darkgrey;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
}

@keyframes rightmove {
    from {right: 0px;}
    to {right: 500px;}
}
.school {
    position:relative;
    top:50px;
}

li{
    font-family: 'Press Start 2P', cursive;
    font-size:25px
}
.school{
    animation:mymove;
    animation-duration: 5s;
    animation-delay:0s;
    animation-fill-mode:both
    }

.country {
    position:absolute;
    top:10%;
    animation-name:rightmove;
    animation-duration: 5s;
    animation-delay:0s;
    animation-fill-mode:both;
    text-align: right
    
    }

ul {
    list-style-type: none;
    block-size:400px
}
a{
    color:black;
    text-decoration-line: none;
    
}

a:hover{
    color:white;
    font-family:'Press Start 2P', cursive;
    font-size:24px
}


table{
    margin:auto;
    margin-bottom:60%;
    font-family: 'Space Mono', monospace;
    font-size:30px;
    width: 60%
}
table td{
    height:50px;
    
}
table tr:hover {
    background-color:rgba(155, 128, 120, 0.39)
}
p,h2{
    font-family:'Press Start 2P', cursive;
    font-size:20px;
    transform: rotate(-5deg) skew(-5deg) scale(1)
}