  
  
  
  .table{
  position: absolute;
    -moz-transition: -moz-transform 1s ease-out, bottom 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -o-transition: -o-transform 1s ease-out, bottom 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    -webkit-transition: -webkit-transform 1s ease-out, bottom 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
    transition: transform 1s ease-out, bottom 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out, right 1s 1s ease-out;
}
.table {
    bottom: 90%;
    left: 50%;
    z-index: 5;
    margin: 0 0 0 -580px;
    padding: 0;
    width: 495px;
    -moz-background-size: 495px auto;
    -o-background-size: 495px auto;
    -webkit-background-size: 495px auto;
    background-size: 495px auto;
    color: #999;
    -moz-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -ms-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -o-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -webkit-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    transform: rotate(-5deg) skew(-5deg) scale(0.8);
}

.table::before,
.table::after {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: 495px;
    content: '';
}
.table::before {
    top: -700px;
    height: 700px;
    background-color:rebeccapurple;
    -moz-background-size: auto auto, 495px auto;
    -o-background-size: auto auto, 495px auto;
    -webkit-background-size: auto auto, 495px auto;
    background-size: auto auto, 495px auto;
}
.table::after {
    bottom: -45px;
    height: 45px;
    background-color:rebeccapurple;
    -moz-background-size: 495px auto;
    -o-background-size: 495px auto;
    -webkit-background-size: 495px auto;
    background-size: 495px auto;
}
.table:hover {
    bottom: 10%;
    left: 50%;
    margin: 0 0 0 -490px;
    color: #fff;
    -moz-transform: rotateY(0) scale(1);
    -ms-transform: scale(1);
    -o-transform: rotateY(0) scale(1);
    -webkit-transform: rotateY(0) scale(1);
    transform: rotateY(0) scale(1);
}