<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for ( 'static', filename='mentors.css' ) }}">
    <title> Codecool Application process - SQL PART2 </title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Space+Mono');
    </style>
</head>

<body>
    <h2> Mentors </h2>
    <p><a href="/">Back to Home</a></p>
    <ul class="school">
        <li>
            <a href={{url_for( 'show_mentors_and_schools')}}>All Mentors</a>
        </li>
        <li>
            <a href={{url_for( 'show_all_schools')}}>All Schools</a>
        </li>

        <li>
            <a href={{url_for( 'show_one_schools_mentors', name="Codecool BP" )}}>Codecool Budapest</a>
        </li>
        <li>
            <a href={{url_for( 'show_one_schools_mentors', name="Codecool Msc" )}}>Codecool Miskolc</a>
        </li>
        <li>
            <a href={{url_for( 'show_one_schools_mentors', name="Codecool Krak" )}}>Codecool Krakow</a>
        </li>
        <li>
            <a href={{url_for( 'show_contacts')}}>Contacts</a>
        </li>
    </ul>
    <ul class="country">
        <li>
            <a href={{url_for( 'show_mentors_by_country')}}>Mentors by Country</a>
        </li>
        <li>
            <a href={{url_for( 'show_one_country',country="Hungary" )}}>Hungary</a>
        </li>
        <li>
            <a href={{url_for( 'show_one_country', country="Poland" )}}>Poland</a>
        </li>
    </ul>

    <table>
        {% for row in table %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/">Back to Home</a></p>

</body>

</html>